## Задача 11.6.1
https://stepik.org/lesson/83975/step/1

В таблице дана точность модели построенной с помощью нецелевых признаков U, V, W, X (если в таблице стоит 0, то соответствующий признак не использовался при построении модели).

<img src='https://ucarecdn.com/7088390b-94de-4101-bf50-1435f1e782a4/'>

Используя жадный алгоритм отбора признаков (который начинает свою работу с пустого набора признаков), найдем все признаки, попавшие в оптимальный набор.

**Выберите все подходящие ответы из списка**

`X` `W` V `U`

In [ ]:
df <- data.frame(rbind(c(0, 0, 0, 0, 0),
                       c(0, 0, 0, 1, 0.45),
                       c(0, 0, 1, 0, 0.4),
                       c(0, 0, 1, 1, 0.76),
                       c(0, 1, 0, 0, 0.5),
                       c(0, 1, 0, 1, 0.65),
                       c(0, 1, 1, 0, 0.7),
                       c(0, 1, 1, 1, 0.75),
                       c(1, 0, 0, 0, 0.3),
                       c(1, 0, 0, 1, 0.65),
                       c(1, 0, 1, 0, 0.7),
                       c(1, 0, 1, 1, 0.76),
                       c(1, 1, 0, 0, 0.6),
                       c(1, 1, 0, 1, 0.8),
                       c(1, 1, 1, 0, 0.71),
                       c(1, 1, 1, 1, 0.7)
                    ))
colnames(df) <- c('U', 'V', 'W', 'X', 'Y')
df

   U V W X Y
1  0 0 0 0 0.00
2  0 0 0 1 0.45
3  0 0 1 0 0.40
4  0 0 1 1 0.76
5  0 1 0 0 0.50
6  0 1 0 1 0.65
7  0 1 1 0 0.70
8  0 1 1 1 0.75
9  1 0 0 0 0.30
10 1 0 0 1 0.65
11 1 0 1 0 0.70
12 1 0 1 1 0.76
13 1 1 0 0 0.60
14 1 1 0 1 0.80
15 1 1 1 0 0.71
16 1 1 1 1 0.70

In [ ]:
res <- function(df, f) {
    return(df[df[1] == f[1] & df[2] == f[2] & df[3] == f[3] & df[4] == f[4], 5])
    }

best_features <- c(0, 0, 0, 0)
for (foo in 1:4){
    new_features <- best_features
    for (i in 1:4){
        features <- best_features
        features[i] <- 1
        if (res(df, new_features) < res(df, features)){
            new_features <- features
        }
    }
    best_features <- new_features
    print(best_features) # выводим этап отбора для наглядности
}

colnames(df[,1:4])[which(best_features == 1)]

[1] 0 1 0 0
[1] 0 1 1 0
[1] 0 1 1 1
[1] 0 1 1 1

[1] "V" "W" "X"

**Этот код выполняет следующие действия:**

Создает DataFrame df с заданными данными и столбцами U, V, W, X, Y.

Определяет функцию res, которая возвращает значение столбца Y для строки, соответствующей заданным значениям признаков.

**Основная логика:**

Инициализация best_features нулями.

Внешний цикл проходит 4 раза.

Внутренний цикл проходит по индексам признаков и проверяет, улучшится ли результат, если установить текущий признак в 1.

Печать этапов отбора признаков.

Печатает выбранные признаки на основе финальных значений best_features.

## Задача 11.6.2
https://stepik.org/lesson/83975/step/2

Укажите необходимые условия возникновения проклятия размерности:

**Выберите все подходящие ответы из списка**

*    используются данные без нормировки

*    `признаков очень много`

*    `используются метрические алгоритмы`

*    признаки малоинформативны

*    существует зависимость между признаками

*    всё вышеперечисленное

In [ ]:
# признаков очень много
# используются метрические алгоритмы

## Задача 11.6.3
https://stepik.org/lesson/83975/step/3

Пусть объекты имеют нецелевые признаки `Р1, Р2, Р3` и целевой признак `Y`. Будем использовать генетический алгоритм для отбора признаков для задачи предсказания признака `Y`.

**Заполните пропуски**

Каким вектором задается «особь», утверждающая, что признаки `Р1` и `Р3` информативны, а признак `Р2` — нет `(____`, `____`, `____`).

In [ ]:
c(1, 0, 1)

[1] 1 0 1



```
# Выбран кодовый формат
```

## Задача 11.6.4
https://stepik.org/lesson/83975/step/4

Пусть объекты имеют нецелевые признаки Р1, Р2, Р3, Р4 и целевой признак Y. Будем использовать генетический алгоритм для отбора признаков для задачи предсказания признака Y. Какое «потомство» произведут «особи» (1,0,1,0), (0,0,1,1) при наборе индексов {3,4}

**Выберите один вариант из списка**

*    (1,1,1,1)

*    (1,0,1,1) и (0,0,1,0)

*    (1,0,1,0) и (0,0,1,1)

*    (1,0,0,1)

*    (1,1,1,1) и (0,1,1,0)

In [ ]:
c(0, 0, 1, 0)
c(1, 0, 1, 1)

[1] 0 0 1 0

[1] 1 0 1 1

## Задача 11.6.5
https://stepik.org/lesson/83975/step/5

Рассмотрим работу SMOTE-алгоритма по синтезу новых объектов

Даны два объекта

<img src='https://ucarecdn.com/1b4b356b-2cd3-448e-b602-766357a76b68/'>

**Заполните пропуски**

Параметр линейной комбинации а равен `0,25`. Значения признаков синтетического объекта равны: Р1 = `___`, Р2 = `___`.

In [ ]:
# Пример из лекции
data <- data.frame(rbind("A" = c(200, 100, 1),
                         "B" = c(150, 50, 0)))
colnames(data) <- c('P1', 'P2', 'Y')
a <- 0.1
data["С",] <- a * data["A",] + (1 - a)  * data["B",]
data

  P1  P2  Y
A 200 100 1.0
B 150  50 0.0
С 155  55 0.1

In [ ]:
# Задача
data <- data.frame(rbind("A" = c(1, 2, 1),
                         "B" = c(5, 10, 1)))
colnames(data) <- c('P1', 'P2', 'Y')
a <- 0.25
data["C",] <- a * data["A",] + (1 - a)  * data["B",]
data

  P1 P2 Y
A 1   2 1
B 5  10 1
C 4   8 1