https://stepik.org/lesson/190151/step/1

Дана таблица с объектами
```
Объект Р1    Р2    Р3
A       1     1     0
B       0     2    -1
C       2     3     1
D       1     0     4
```
Заполните пропуски

В данной задаче выбросы будем искать по следующему правилу: «Выбросом будет считаться объект, у которого суммарное расстояние от него до остальных объектов выборки наибольшее». Таким образом, в указанной таблице выбросом будет (написать имя объекта в виде заглавной латинской буквы):`    `
 (при вычислении использовать метрику Манхэттен, нормализацию не проводить), сумма расстояний от него до остальных объектов будет равна`    `.

In [ ]:
data <- rbind('A' = c(1, 1, 0),
              'B' = c(0, 2, -1),
              'C' = c(2, 3, 1),
              'D' = c(1, 0, 4)
             )
data_dist = dist(data, method = "manhattan")
cat('Класс объекта:', class(data_dist), '\n\n') # получили очень интересный класс!
cat('Таблица расстояний между объектами:')
data_dist
# для подсчёта класс dist не годится, преобразуем в обычную матрицу:
data_dist <- as.matrix(data_dist)
# суммы по строкам
cat('\nВыбросом будет:')
rowSums(data_dist)[rowSums(data_dist) == max(rowSums(data_dist))]

Класс объекта: dist

Таблица расстояний между объектами:

  A B C
B 3
C 4 5
D 5 8 7

Выбросом будет:

 D
20

In [ ]:
# Mihail Tabakaev https://stepik.org/lesson/190151/step/1?discussion=980865&unit=164656
# создаем векторы значений переменных для объектов
A <- c(1,1,0)
B <- c(0,2,-1)
C <- c(2,3,1)
D <- c(1,0,4)
# производим расчет расстояний между объектами (использовали метрику "Манхэттен")
my_df <- dist(rbind(A,B,C,D), method = "manhattan")
# преобразовываем результат в матрицу
my_df <- as.matrix(my_df)
# просмотрим матрицу расстояний
View(my_df)
# суммируем расстояния между одним объектом и всеми остальными (по каждому столбцу в отдельности)
result <- apply(my_df, 2, sum)
# выводим на печать полученный результат
print(result)

  A B C D
A 0 3 4 5
B 3 0 5 8
C 4 5 0 7
D 5 8 7 0