## Задача 8.7.1
https://stepik.org/lesson/83972/step/1

Дана таблица с объектами.

<img src='https://ucarecdn.com/88035816-db46-4fe0-a008-6f7d62aff804/'>

Вспомните суть метода SVM и, не проводя вычислений, попытайтесь угадать правило если $a*X1+b*X2+c>0$, то объект принадлежит классу 1 (иначе объект принадлежит классу -1)

*   a=1,5 b=-1 c=1,5

*   a=1, b=1, c=-1,5

*   a=1,5 b=1 c=-1

*   a=1 b=1 c=1

*   a=0 b=1 c=1,5

*   a=1 b=0 c=1

In [ ]:
df <- rbind('A' = c(1, 0, -1),
            'B' = c(0, 1, -1),
            'C' = c(2, 0, 1),
            'D' = c(1, 1, 1),
            'E' = c(0, 2, 1)
            )

df <- data.frame(df)
colnames(df) <- c('X1', 'X2', 'Y')
df

  X1 X2 Y
A 1  0  -1
B 0  1  -1
C 2  0   1
D 1  1   1
E 0  2   1

In [ ]:
a=1.5
b=-1
c=1.5
df[,'Y1'] <- a * df[,'X1'] + b * df[,'X2'] + c > 0

a=1
b=1
c=-1.5
df[,'Y2'] <- a * df[,'X1'] + b * df[,'X2'] + c > 0

a=1.5
b=1
c=-1
df[,'Y3'] <- a * df[,'X1'] + b * df[,'X2'] + c > 0

a=1
b=1
c=1
df[,'Y4'] <- a * df[,'X1'] + b * df[,'X2'] + c > 0

a=0
b=1
c=1.5
df[,'Y4'] <- a * df[,'X1'] + b * df[,'X2'] + c > 0

a=1
b=0
c=1
df[,'Y5'] <- a * df[,'X1'] + b * df[,'X2'] + c > 0

df

  X1 X2 Y  Y1    Y2    Y3    Y4   Y5
A 1  0  -1  TRUE FALSE  TRUE TRUE TRUE
B 0  1  -1  TRUE FALSE FALSE TRUE TRUE
C 2  0   1  TRUE  TRUE  TRUE TRUE TRUE
D 1  1   1  TRUE  TRUE  TRUE TRUE TRUE
E 0  2   1 FALSE  TRUE  TRUE TRUE TRUE

## Задача 8.7.2
https://stepik.org/lesson/83972/step/2

Дана функция $f(u,v)=u^2-2v^2-2u+4v+1$.

**Заполните пропуски**

Ее градиент в точке (0,0) равен (`___,___`). Будем искать точку минимума с помощью метода градиентного спуска. Длину шага полагаем равной `0,5`. В какую точку мы попадем из точки (`0,0`) после одной итерации метода градиентного спуска? Ответ: (`___,___`).

### Решение:

$z=x^2-2·y^2-2·x+4·y+1$

Находим частные производные:

При нахождении ∂z/∂x считаем аргумент y постоянным:

$∂z/∂x=2x-2$

При нахождении ∂z/∂y считаем аргумент x постоянным:

$∂z/∂y=4-4y$

Найдем частные производные в точке А(0;0)

$∂z/∂x(0;0)=-2 \\
∂z/∂y(0;0)=4$

Из точки `(0, 0)` делаем шаг в направлени антиградиента с коэффицментом `0.5`

### Ответ:
`-2`, `4`, `1`, `-2`

## Задача 8.7.3
https://stepik.org/lesson/83972/step/3

Чему равен градиент функции $f(u,v)=u*v+1$ в точке `(1,2)`?

### Решение
$f(u,v)=u*v+1$
Находим частные производные:
При нахождении ∂f/∂u считаем аргумент v постоянным:

$∂f/∂u=v$

При нахождении ∂f/∂v считаем аргумент u постоянным:

$∂f/∂v=u$

Найдем частные производные в точке А(1;2)

$∂f/∂u(1;2)=2 \\
∂f/∂v(1;2)=1$

### Ответ: (2, 1)

## Задача 8.7.4
https://stepik.org/lesson/83972/step/4

Искусственный нейрон имеет 2 входа с весами `1`, `2` соответственно. Ко входному сигналу прибавляется число `1` и применяется сигмоидная функция. Чему будет равно значение на выходе из нейрона, если на первый вход было подано число `1`, а на второй вход было подано число `-1`?

In [ ]:
sigmoid <- function(W1, W2, X1, X2)
    {
    z <- W1 * X1 + W2 * X2 + 1
    return(exp(z) / (exp(z) + 1))
    }

W1 <- 1
W2 <- 2
X1 <- 1
X2 <- -1

res = sigmoid(W1, W2, X1, X2)
res

[1] 0.5

## Задача 8.7.5
https://stepik.org/lesson/83972/step/5

Дана таблица с объектами (каждый объект имеет 2 нецелевых признака и известную метку класса).

<img src='https://ucarecdn.com/3403b0ed-c8cc-4578-b9cf-05ded550f575/'>

Линейный классификатор имеет вид: если $a*X_1+b*X_2+c>0$, то объект принадлежит классу `1` (иначе объект принадлежит классу `-1`). Какими должны быть значения весов `a`, `b`, `c`, чтобы классификатор правильно классифицировал все объекты в таблице?

a=1, b=1, c=-1

a=1, b=-1, c=0

a=0, b=1, c=1

a=0, b=1, c=0

a=1, b=1, c=1

a=1, b=0, c=0

In [ ]:
df <- rbind('A' = c(-1, 3, 1),
            'B' = c(3, -1, 1),
            'C' = c(1, -1, -1),
            'D' = c(-1, 1, -1)
            )

df <- data.frame(df)
colnames(df) <- c('X1', 'X2', 'Y')
df
model <- lm(Y ~ X1 + X2, data=df)
model$coefficients

  X1 X2 Y
A -1  3  1
B  3 -1  1
C  1 -1 -1
D -1  1 -1

(Intercept)          X1          X2
         -1           1           1

In [ ]:
a=1
b=1
c=-1
df[,'Y1'] <- a * df[,'X1'] + b * df[,'X2'] + c > 0

a=1
b=-1
c=0
df[,'Y2'] <- a * df[,'X1'] + b * df[,'X2'] + c > 0

a=0
b=1
c=1
df[,'Y3'] <- a * df[,'X1'] + b * df[,'X2'] + c > 0

a=0
b=1
c=0
df[,'Y3'] <- a * df[,'X1'] + b * df[,'X2'] + c > 0

a=1
b=1
c=1
df[,'Y4'] <- a * df[,'X1'] + b * df[,'X2'] + c > 0

a=1
b=0
c=0
df[,'Y5'] <- a * df[,'X1'] + b * df[,'X2'] + c > 0

df

  X1 X2 Y  Y1    Y2    Y3    Y4   Y5
A -1  3  1  TRUE FALSE  TRUE TRUE FALSE
B  3 -1  1  TRUE  TRUE FALSE TRUE  TRUE
C  1 -1 -1 FALSE  TRUE FALSE TRUE  TRUE
D -1  1 -1 FALSE FALSE  TRUE TRUE FALSE

In [ ]:
fit <- lm(Y ~ ., data=df)
fit

Call:
lm(formula = Y ~ ., data = df)

Coefficients:
(Intercept)           X1           X2
         -1            1            1